@import './base.css';

body {
  display: grid;
  place-items: center;
  margin: 0;
  height: 100vh;
  padding: 0 0;
  background-image: url("./background.svg");
  background-size: cover;
  animation: rotate 5s infinite alternate linear;
}

@keyframes rotate {
  100% {
    background-position: 25% 50%;
  }
}

#app {
  min-width: 100vw;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

input {
  padding: 1rem !important;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
